:root {
  --wg-calm: #fff;
  --wg-light: #aeedf2;
  --wg-moderate: #6be06b;
  --wg-strong: #f5d033;
  --wg-very-strong: #f28d30;
  --wg-gale: #f23030;
  --border-color: #d3d3d3;
}

/* Contenedor principal */
.wg-container {
  padding: 20px;
  font-family: sans-serif;
  max-width: 100%;
  margin: 0 auto;
}

.wg-container h2 {
  margin-top: 15px;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

}

/* Botón de Geolocalización */
.gps-btn {
  padding: 10px;
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.2s;
}

.gps-btn:hover {
  background-color: #e8e8e8;
}

.wg-footer-text {
  text-align: center;
  color: #666;
  font-size: 12px;
  margin-top: 15px;
}
